# Virtual environment
.venv/

# Runtime data (SQLite DB is recreated on startup)
instance/

# Generated SVGs (recreated on startup); real product photos in static/img/products/ are committed
static/img/*.svg

# Python cache
__pycache__/
*.pyc
*.pyo

# Cloudflare tunnel local files
tools/
cloudflared.log
cloudflared.out.log
public_url.txt

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db